# clang-format version 20

# Indentation settings
UseTab: false
IndentWidth: 4
IndentCaseLabels: false

# Braces and function formatting
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: MultiLine
  AfterEnum: true
  AfterFunction: false
  AfterNamespace: true
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: true
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: All
AllowShortCaseExpressionOnASingleLine: true
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: false
BinPackArguments: true
BinPackParameters: true
PenaltyBreakBeforeFirstCallParameter: 0
PenaltyReturnTypeOnItsOwnLine: 1000

# Constructor formatting
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: false

# Alignment and spacing
SpacesBeforeTrailingComments: 2
AccessModifierOffset: -4
AlignEscapedNewlines: Left
AlignOperands: Align


# Line breaking and wrapping
ColumnLimit: 90