# clang-format version 20

# Indentation settings
UseTab: false
IndentWidth: 4
IndentCaseLabels: false

# Braces and function formatting
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: All
AllowShortCaseExpressionOnASingleLine: true
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: false
BinPackArguments: true
BinPackParameters: true
PenaltyBreakBeforeFirstCallParameter: 0
PenaltyReturnTypeOnItsOwnLine: 1000

# Constructor formatting
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: false

# Alignment and spacing
SpacesBeforeTrailingComments: 2
AccessModifierOffset: -4
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
AlignOperands: Align


# Line breaking and wrapping
ColumnLimit: 90